---
// Simple header component for the game title
---

<header>
	<h1
		class="text-4xl font-bold mb-4 bg-gradient-to-r from-red-400 via-accent-blue via-blue-400 to-green-400 bg-clip-text text-transparent md:text-3xl"
	>
		ChromaCross
	</h1>
</header>