---
// Counter showing remaining guesses
---

<div class="bg-gray-800 rounded-lg p-4 border-2 border-gray-700">
	<div id="guess-counter" class="text-center text-lg">
		Remaining guesses: <span
			id="remaining-count"
			class="font-bold text-blue-400">6</span
		>
	</div>
	<div class="border-t border-gray-600 my-3"></div>
	<slot />
</div>